%section.hero
  .hero-body
    .container
      .columns.is-align-items-center
        .column 
          %h1.title.is-1 Balin the Job Miner
          %p Balin digs up the best job for software engineering job searches from several websites. Run it locally to customize which jobs Balin prioritizes!
          %a{href: "https://github.com/SaalikLok/balin-the-job-miner"}
            .button.mt-3 Visit GitHub
        .column
          .image.is-128x128
            %img.is-rounded{src: "./img/balin.jpg"}
      .content
        %blockquote 
          %p= @quote_text
          %p= @quote_author_name_race 
      .columns.is-multiline 
        - @jobs.each do |job|
          .column.is-4
            %a{href: job.link, target: "_blank"}
              .card 
                %header.card-header
                  %p.card-header-title= job.company
                .card-content 
                  .media-content 
                    .title= job.title
                .content.pl-4.pb-3
                  %span.tag.is-medium= "Score: #{job.score}"
                  %p= "Posted #{job.hours_since_posted} hrs ago"
                  %p= job.location

